@font-face {
    font-family: 'Sunday';
    src: url('./font/The\ Sunday.otf');
}

:root {
    --primary-color: #EF7A85;
    --secondary-color: #ffcfd1;
    --sticky-note-color: rgb(238, 234, 8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Sunday';
}

body, main, .user-container, .sticky-note {
    display: flex;
}

body {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    /*background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));*/
}

main {
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.user-container {
    position: absolute;
    top: 0;
    left: 140px;
    height: 180px;
    width: 240px;
    background: url('./imgs/stripped\ paper.png') no-repeat center center/contain;
    justify-content: center;
    align-items: center;
    transform: rotate(-30deg);
}

h1 {
    font-size: 2em;
}

.content-container {
    min-height: 700px;
    min-width: 1400px;
    background: url('./imgs/corkboard.jpg') no-repeat center center/contain;
    padding: 55px;
}

.sticky-note {
    flex-direction: column;
    height: 190px;
    width: 200px;
    background-color: var(--secondary-color);
    padding: 20px;
    letter-spacing: 2px;
}

.sticky-description {
    font-size: .8em;
}

.add-note-container {
    position: absolute;
    top: 90px;
    right: 220px;
    background-color: var(--secondary-color);
    padding: 10px;
    transform: rotate(30deg);
}

.add-note-container:hover {
    text-decoration: underline;
    cursor: pointer;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
}

footer {
    padding: 25px;
    font-size: 1.2em;
    text-align: center;
}