@font-face {
  font-family: "Sunday";
  src: url("./font/The Sunday.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  font-family: "Sunday";
}

body, main, .user-container, .sticky-note, .add, .color-container, .sign-up-form, .log-in-form, label, .inputs, .submit-buttons {
  display: flex;
}

body {
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #cbffcb;
}

main {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .sign-up-form, main .log-in-form {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  width: 320px;
  padding: 20px 30px 20px 30px;
  border: 2px solid #EF7A85;
  box-shadow: 7px 7px #EF7A85;
  background-color: #ffcfd1;
  z-index: 1;
  gap: 20px;
}
main .sign-up-form .inputs {
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
main .sign-up-form .inputs label {
  font-size: 0.85em;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
main .sign-up-form .inputs label input {
  height: 35px;
  width: 280px;
  padding: 10px 0 10px 0;
}
main .sign-up-form #sign-up-btn {
  padding: 10px;
  border: none;
  position: relative;
  background-color: #CCFFCC;
  box-shadow: 4px 4px #71c971;
}
main .sign-up-form #sign-up-btn:hover:before {
  content: "";
  position: absolute;
  top: 0;
  right: -6px;
  border-top: 13px solid #ffcfd1;
  border-right: 13px solid #519251;
  width: 3px;
  transform: rotate(90deg);
}
main .sign-up-form #sign-up-btn:hover {
  cursor: pointer;
  text-decoration: underline;
  padding: 15px;
  margin: -5px;
  background-color: #71c971;
  box-shadow: 4px 4px #519251;
}
main .sign-up-form .sign-up-later-btn {
  padding: 10px;
  border: none;
  position: relative;
  background-color: #f99584;
  box-shadow: 4px 4px #EF7A85;
}
main .sign-up-form .sign-up-later-btn:hover:before {
  content: "";
  position: absolute;
  top: 0;
  right: -6px;
  border-top: 13px solid #ffcfd1;
  border-right: 13px solid #ad5962;
  width: 3px;
  transform: rotate(90deg);
}
main .sign-up-form .sign-up-later-btn:hover {
  cursor: pointer;
  text-decoration: underline;
  padding: 15px;
  margin: -5px;
  background-color: #EF7A85;
  box-shadow: 4px 4px #ad5962;
}
main .log-in-form {
  width: -moz-fit-content;
  width: fit-content;
}
main .log-in-form label {
  font-size: 0.85em;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
main .log-in-form label input {
  height: 35px;
  width: 280px;
  padding: 10px 0 10px 0;
}
main .log-in-form p {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}
main .log-in-form p .sign-up {
  font-size: inherit;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}
main .log-in-form p .sign-up:hover {
  cursor: pointer;
  text-decoration: none;
  color: blue;
}
main .log-in-form .log-in-form-btn {
  padding: 10px;
  border: none;
  position: relative;
  background-color: #CCFFCC;
  box-shadow: 4px 4px #71c971;
}
main .log-in-form .log-in-form-btn:hover:before {
  content: "";
  position: absolute;
  top: 0;
  right: -6px;
  border-top: 13px solid #ffcfd1;
  border-right: 13px solid #519251;
  width: 3px;
  transform: rotate(90deg);
}
main .log-in-form .log-in-form-btn:hover {
  cursor: pointer;
  text-decoration: underline;
  padding: 15px;
  margin: -5px;
  background-color: #71c971;
  box-shadow: 4px 4px #519251;
}

.content-container {
  background: url("./imgs/corkboard.jpg") no-repeat center center/contain;
  padding: 55px;
  position: relative;
  display: flex;
}
.content-container .user-auth-container {
  position: absolute;
  top: -40px;
  left: 150px;
}
.content-container .user-auth-container .log-out {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}
.content-container .user-auth-container button {
  background-color: transparent;
  border: none;
}
.content-container .user-auth-container button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.user-container {
  position: absolute;
  top: -60px;
  left: -100px;
  height: 180px;
  width: 240px;
  background: url("./imgs/stripped paper.png") no-repeat center center/contain;
  justify-content: center;
  align-items: center;
  transform: rotate(-30deg);
  z-index: 1;
  padding: 10px;
}
.user-container h1 {
  text-decoration: underline;
  font-size: 2em;
}
.user-container h1:hover {
  cursor: default;
}

.add-note-container {
  position: absolute;
  top: 0px;
  right: -40px;
  background-color: #ffcfd1;
  box-shadow: 4px 4px #EF7A85;
  padding: 10px;
  transform: rotate(25deg);
}
.add-note-container:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: #EF7A85;
  box-shadow: 4px 4px #cc606b;
}
.add-note-container:hover:before {
  content: "";
  position: absolute;
  top: 0;
  right: -6px;
  border-top: 15px solid #cbffcb;
  border-right: 14.5px solid #cc606b;
  width: 3px;
  transform: rotate(90deg);
}

.sticky-notes-container {
  display: grid;
  grid-template-columns: repeat(6, 210px);
  grid-template-rows: repeat(3, 190px);
  row-gap: 10px;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.sticky-note {
  position: relative;
  flex-direction: column;
  height: 190px;
  width: 190px;
  padding: 14px;
  letter-spacing: 1px;
  gap: 3px;
}
.sticky-note.pink {
  box-shadow: 7px 7px #EF7A85;
  background-color: #ffcfd1;
  border: 2px solid #EF7A85;
}
.sticky-note.green {
  background-color: #cdfc93;
  box-shadow: 7px 7px #678543;
  border: 2px solid #678543;
}
.sticky-note.blue {
  background-color: #71d7ff;
  box-shadow: 7px 7px #4693af;
  border: 2px solid #4693af;
}
.sticky-note.purple {
  background-color: #ce81ff;
  box-shadow: 7px 7px #8751a8;
  border: 2px solid #8751a8;
}
.sticky-note.yellow {
  background-color: #fff68b;
  box-shadow: 7px 7px #928c48;
  border: 2px solid #928c48;
}
.sticky-note #delete-btn {
  background-color: red;
  box-shadow: 3px 3px #8d0000;
  border: none;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  align-self: center;
  margin-top: -10px;
}
.sticky-note #delete-btn:hover {
  cursor: pointer;
  background-color: #8d0000;
  box-shadow: 3px 3px #330000;
}
.sticky-note .sticky-title {
  font-size: 0.7em;
  text-align: center;
}
.sticky-note .sticky-description {
  font-size: 0.67em;
  margin-top: 8px;
  word-wrap: break-word;
  overflow: scroll;
}
.sticky-note .sticky-date {
  position: absolute;
  font-size: 0.5em;
  bottom: 4px;
  right: 4px;
}

.add {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: -moz-fit-content;
  height: fit-content;
  width: 360px;
  padding: 20px 30px 20px 30px;
  border: 2px solid #EF7A85;
  box-shadow: 7px 7px #EF7A85;
  background-color: #ffcfd1;
  z-index: 1;
}
.add .inputs {
  flex-direction: column;
  gap: 10px;
}
.add .inputs label {
  font-size: 0.85em;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.add .inputs label input {
  height: 50px;
  width: 280px;
  padding: 10px;
}
.add .inputs textarea {
  padding: 5px;
  font-size: 1em;
  resize: none;
}
.add .inputs #date {
  background-color: white;
  text-align: center;
  font-size: 1em;
  height: 45px;
}
.add p {
  font-size: 0.9em;
  text-align: center;
}
.add .color-container {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: inherit;
}
.add .color-container input {
  display: none;
}
.add .color-container label {
  position: relative;
  border-radius: 100%;
  display: flex;
  align-items: center;
  border: 2px solid black;
  cursor: pointer;
  height: 30px;
  width: 30px;
  overflow: hidden;
}
.add .color-container label.green {
  background-color: #cdfc93;
}
.add .color-container label.blue {
  background-color: #71d7ff;
}
.add .color-container label.purple {
  background-color: #ce81ff;
}
.add .color-container label.yellow {
  background-color: #fff68b;
}
.add .color-container label:before {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.add .color-container input:checked + label {
  height: 30px;
  width: 30px;
  border: 5px solid black;
}
.add .color-container input:checked + label:before {
  height: 30px;
  width: 30px;
}

.invisible {
  display: none;
}

.submit-buttons {
  width: 100%;
  justify-content: space-between;
}
.submit-buttons #pin-it-btn, .submit-buttons #maybe-later-btn {
  padding: 10px;
  border: none;
  position: relative;
}
.submit-buttons #pin-it-btn:hover:before, .submit-buttons #maybe-later-btn:hover:before {
  content: "";
  position: absolute;
  top: 0;
  right: -6px;
  border-top: 13px solid #ffcfd1;
  border-right: 13px solid #519251;
  width: 3px;
  transform: rotate(90deg);
}
.submit-buttons #pin-it-btn:hover, .submit-buttons #maybe-later-btn:hover {
  cursor: pointer;
  text-decoration: underline;
  padding: 15px;
  margin: -5px;
}
.submit-buttons #pin-it-btn {
  background-color: #CCFFCC;
  box-shadow: 4px 4px #71c971;
}
.submit-buttons #pin-it-btn:hover {
  background-color: #71c971;
  box-shadow: 4px 4px #519251;
}
.submit-buttons #maybe-later-btn {
  background-color: #f99584;
  box-shadow: 4px 4px #EF7A85;
}
.submit-buttons #maybe-later-btn:hover:before {
  content: "";
  position: absolute;
  top: 0;
  right: -6px;
  border-right: 13px solid #ad5962;
  width: 3px;
  transform: rotate(90deg);
}
.submit-buttons #maybe-later-btn:hover {
  background-color: #EF7A85;
  box-shadow: 4px 4px #ad5962;
}

hr {
  border: none;
  height: 1px;
  background-color: black;
}

footer {
  padding: 25px;
  font-size: 1.2em;
  text-align: center;
}
footer .fa-github {
  color: black;
  border: none;
  text-decoration: none;
}
footer .fa-github:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=styles.css.map */