@font-face {
    font-family: 'Sunday';
    src: url('./font/The\ Sunday.otf');
}

:root {
    --primary-color: #ffcfd1;
    --primary-accent-color: #EF7A85;
    --secondary-color: #CCFFCC;
    --secondary-accent-color: #71c971;
    --sticky-note-color: rgb(238, 234, 8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Sunday';
}

body, main, .user-container, .sticky-note, form, label, .inputs, .submit-buttons {
    display: flex;
}

body {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    /*background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));*/
}

main {
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content-container {
    min-height: 700px;
    min-width: 1400px;
    background: url('./imgs/corkboard.jpg') no-repeat center center/contain;
    padding: 55px;
    display: grid;
    grid-template-columns: repeat(6, 210px);
    grid-template-rows: repeat(3 , 190px);
    row-gap: 10px;
    column-gap: 10px;
    position: relative;
}

.user-container {
    position: absolute;
    top: -60px;
    left: -100px;
    height: 180px;
    width: 240px;
    background: url('./imgs/stripped\ paper.png') no-repeat center center/contain;
    justify-content: center;
    align-items: center;
    transform: rotate(-30deg);
    z-index: 1;
}

h1 {
    text-decoration: underline;
    font-size: 2em;
}

.add-note-container {
    position: absolute;
    top: 0px;
    right: -40px;
    background-color: var(--primary-color);
    box-shadow: 4px 4px var(--primary-accent-color);
    padding: 10px;
    transform: rotate(30deg);
}

.add-note-container:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: var(--primary-accent-color);
    box-shadow: 4px 4px #cc606b;
}

.sticky-note {
    position: relative;
    flex-direction: column;
    height: 190px;
    width: 200px;
    background-color: var(--primary-color);
    padding: 14px;
    letter-spacing: 1.8px;
    box-shadow: 4px 4px var(--primary-accent-color);
}

.sticky-description {
    font-size: .75em;
    margin-top: 8px;
}

.sticky-date {
    position: absolute;
    font-size: .5em;
    bottom: 4px;
    right: 4px;
}

form {
    position: absolute;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 480px;
    width: 360px;
    padding: 40px;
    border: 2px solid var(--primary-accent-color);
    box-shadow: 7px 7px var(--primary-accent-color);
    background-color: var(--primary-color);
    z-index: 1;
}

form.invisible {
    display: none;
}

form label {
    font-size: .85em;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

form label input  {
    width: 280px;
}


#date {
    background-color: white;
}

.inputs {
    flex-direction: column;
    gap: 10px;
}

.submit-buttons {
    width: 100%;
    justify-content: space-between;
}

#pin-it-btn, #maybe-later-btn {
    padding: 10px;
    background-color: var(--secondary-color);
    box-shadow: 4px 4px var(--secondary-accent-color);
    border: none;
}

#pin-it-btn:hover, #maybe-later-btn:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: var(--secondary-accent-color);
    box-shadow: 4px 4px #639963;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
}

footer {
    padding: 25px;
    font-size: 1.2em;
    text-align: center;
}